apex==0.9.10dev
boto3==1.26.100
botocore==1.29.165
filelock==3.13.1
nltk==3.2.4
numpy==1.24.3
ptvsd==4.3.2
Requests==2.31.0
seqeval==1.2.2
six==1.16.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
tensorflow==2.13.0
tensorflow_datasets==4.9.2
torch==2.0.0
tqdm==4.66.1
transformers==4.35.0
datasets==2.15.0